---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Projects from "../../components/Projects.astro";
import LinkedInPosts from "../../components/LinkedInPosts.astro";
import Contact from "../../components/Contact.astro";
import { getTranslations } from "../../i18n/utils";
import GitRepositories from "../../components/GitRepositories.astro";

const t = getTranslations("es");
---

<Layout title="Portfolio | FullStack Developer">
    <div class="container mx-auto px-6 md:px-8 lg:px-12 pt-24 pb-12 max-w-7xl">
        <Hero t={t.hero} />
        <Projects t={t.projects} />
    </div>
    <GitRepositories t={t.gitRepositories} />
    <div class="container mx-auto px-6 md:px-8 lg:px-12 pt-24 pb-12 max-w-7xl">
        <LinkedInPosts t={t.linkedInPosts} />
        <Contact t={t.contact} />
    </div>
</Layout>
