---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Services from "../../components/Services.astro";
import Solutions from "../../components/Solutions.astro";
import TechStack from "../../components/TechStack.astro";
import Metrics from "../../components/Metrics.astro";
import Contact from "../../components/Contact.astro";
import { getTranslations } from "../../i18n/utils";

const t = getTranslations("es");
---

<Layout title="Automata | Automatizacion Inteligente con IA">
    <div class="container mx-auto px-6 md:px-8 lg:px-12 pt-24 pb-12 max-w-7xl">
        <Hero t={t.hero} />
        <Services t={t.services} />
        <Solutions t={t.solutions} />
        <TechStack t={t.techStack} />
    </div>
    <Metrics t={t.metrics} />
    <div class="container mx-auto px-6 md:px-8 lg:px-12 pt-24 pb-12 max-w-7xl">
        <Contact t={t.contact} />
    </div>
</Layout>
